<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js"></script>
        <script src="./main.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Ohm Delivery</title>
    </head>
    <body>
        <div class="banner">
            <h1>Ohm Delivery</h1>
            <h2>Get shocked by the power</h2>
        </div>
        
        <div ng-app="ohm-delivery">
            <div ng-controller="tracking">
                <form ng-submit="getOhmByTrackingId()">
			    	<p><input id="trackingId" name="trackingId" type="text" ng-model="trackingId" placeholder="Enter your tracking id" required /></p>
			    	<p><button id="formBtn" type="submit">Submit</button></p>
			    	<p><span ng-if="errorMessage" class="error">{{ errorMessage }}</span></p>
			    </form>
                <div ng-if="result" class="result">
                    <h2 id="trackingId">#{{ result.trackingId }}</h2>
                    <h3>{{ result.status }}</h3>
                    <div ng-if="result.comment">
                        <h4>Comment</h4>
                        <p>{{ result.comment }}</p>
                    </div>
                    <h4>Client</h4>
                    <p>{{ result.client.name }}</p>
                    <p>{{ result.client.address }}</p>
                    <h4>Description</h4>
                    <p>Volts: {{ result.description.volts }}</p>
                    <p>Amperes: {{ result.description.amperes }}</p>
                    <h4>History</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in result.history">
                                <td>{{ record.state }}</td>
                                <td>{{ record.at | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="result.possibleNextStatusses && result.possibleNextStatusses.length > 0">
                        <h4>Update status</h4>
                            <form ng-submit="updateOhmStatus(selectedStatus.code)">
                                <p>
                                    <label for="status">Choose a status:</label>
                                    <select id="status" name="status" ng-model="selectedStatus" ng-options="status as status.code for status in result.possibleNextStatusses"></select>
                                </p>
                                <p><input ng-if="selectedStatus.commentable" id="comment" name="comment" type="text" ng-model="formData.comment[selectedStatus.code]" placeholder="Enter comment (optional)" /></p>
                                <p><button id="formBtn" type="submit">Submit</button></p>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>